
<!DOCTYPE html>
<html>
    <head>
        {% block stylesheets %}

        <link rel="stylesheet" href="{{ asset('assets/css/index.css') }}">
        {% endblock %}
        <meta charset="UTF-8">
        <title>{% block title %}Login Page{% endblock %}</title>
    </head>

    <body>

        <img href="{{asset ('assets/images/logo.svg') }}" alt="Logo">

    </body>
</html>

